<html>
<body>
	<h3>Diamond Price Prediction</h3>

<div>
<form action="/result" method="POST">
	<label for="carat">Carat</label>
	<input type="text" id="carat" name="carat" value="1.00">
	<br>
	<label for="clarity">Clarity</label>
	<select id="clarity" name="clarity">
	<option value="FL">FL</option>
	<option value="IF">IF</option>
	<option value="VVS1">VVS1</option>
	<option value="VVS2">VVS2</option>
	<option value="VS1">VS1</option>
	<option value="VS2">VS2</option>
	<option value="SI1">SI1</option>
	<option value="SI2">SI2</option>
	</select>
	<br>
	<label for="color">Color</label>
	<select id="color" name="color">
	<option value="D">D</option>
	<option value="E">E</option>
	<option value="F">F</option>
	<option value="G">G</option>
	<option value="H">H</option>
	<option value="I">I</option>
	<option value="J">J</option>
	<option value="K">K</option>
	</select>
	<br>
	<label for="culet">Culet</label>
	<select id="culet" name="culet">
	<option value="None">None</option>
	<option value="Pointed">Pointed</option>
	<option value="Very Small">Very Small</option>
	<option value="Small">Small</option>
	<option value="Medium">Medium</option>
	<option value="Slightly Large">Slightly Large</option>
	<option value="Large">Large</option>
	</select>
	<br>
	<label for="cut">Cut</label>
	<select id="cut" name="cut">
	<option value="Astor Ideal">Astor Ideal</option>
	<option value="Ideal">Ideal</option>
	<option value="Very Good">Very Good</option>
	<option value="Good">Good</option>
	</select>
	<br>
	<label for="depth">Depth</label>
	<input type="text" id="depth" name="depth" value="61.0">
	<br>
	<label for="fluorescence">Fluorescence</label>
	<select id="fluorescence" name="fluorescence">
	<option value="None">None</option>
	<option value="Faint">Faint</option>
	<option value="Faint Blue">Faint Blue</option>
	<option value="Medium">Medium</option>
	<option value="Medium White">Medium White</option>
	<option value="Medium Yellow">Medium Yellow</option>
	<option value="Medium Blue">Medium Blue</option>
	<option value="Strong">Strong</option>
	<option value="Strong White">Strong White</option>
	<option value="Strong Yellow">Strong Yellow</option>
	<option value="Strong Blue">Strong Blue</option>
	<option value="Very Strong">Very Strong</option>
	<option value="Very Strong Blue">Very Strong Blue</option>
	</select>
	<br>
	<label for="lxwRatio">lxwRatio</label>
	<input type="text" id="lxwRatio" name="lxwRatio" value="1.00">
	<br>
	<label for="polish">Polish</label>
	<select id="polish" name="polish">
	<option value="Excellent">Excellent</option>
	<option value="Very Good">Very Good</option>
	<option value="Good">Good</option>
	</select>
	<br>
	<label for="symmetry">Symmetry</label>
	<select id="symmetry" name="symmetry">
	<option value="Excellent">Excellent</option>
	<option value="Very Good">Very Good</option>
	<option value="Good">Good</option>
	</select>
	<br>
	<label for="table">Table</label>
	<input type="text" id="table" name="table" value="57">
	</select>
	<br>
	<input type="submit" value="Submit">
</form>
</div>
</body>
</html>
